<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interactive Product Catalog</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <section class="main flex-container-centered">
      <bounds class="flex-container-space-between restrict960">
        <div class="actions flex-container-centered">

          <div class="actions-container">
            <!-- dynamic content here -->
            <img id="direction" src="img/direction.svg" alt="SELECT A PRODUCT FROM THE LIST" title="SELECT A PRODUCT FROM THE LIST">
          </div>

        </div>
        <div class="preview flex-container-centered">
          &nbsp;
        </div>
        <div class="scroller">

          <div class="app-list-container">
            <!-- dynamic content here -->
          </div>

        </div>
      </bounds>
    </section>
    <section class="submit flex-container-space-around restrict960">
      <img id="splash" src="img/splash.svg" alt="MAKE A REQUEST!" title="MAKE A REQUEST!">
      <!--<span style="font-weight: 200; font-size: 24px;">CONTACT US!</span> -->
      <form id="requests" name="requests"
        class="flex-container-column-start"
        action="mailto:rbennett.pbl@gmail.com?subject=Interactive%20Request"
        method="post"
        enctype="text/plain">

        <input name="email" type="email" placeholder="you@pbl.ca" class="flex-item-grow" />
        <select name="product" class="flex-item">
          <option value="not-specified">Select a product</option>
          <option value="not-listed">Product not listed (specify in details)</option>
          <optgroup label="Apps" id="ogApps"></optgroup>
        </select>
        <select name="help-with" class="flex-item">
          <option value="not-specified">How can we help?</option>
          <option value="feature-request">Feature request</option>
          <option value="bug-in-demo">Found a bug in the demo</option>
          <option value="document-issue">Issue with a document</option>
          <option value="Sales-tip">Sales tip</option>
        </select>
        <textarea name="details" placeholder="Give us some details. We will respond as soon as we can. :)"></textarea>
        <button form="requests" class="send">Send It!</button>

      </form>
    </section>
    <footer class="flex-container-centered">
      <img src="img/PBL_Logo_200.svg" alt="Pollard Banknote Ltd." title="Pollard Banknote Ltd." style="transform: scale(.75);" />
    </footer>
    <!-- Script Templates -->
    <script type="template/javascript" id="tpl_actions-container-content">
      <div class="app-icon flex-container-row-start">
        <img src="<%= iconURL %>" width="44" height="44" /> <span class="app-name"><%= name %></span>
      </div>
			<% if(typeof type != "undefined"){ %>
				<div class="app-type"><%= type %></div>
			<%
			}
			if(actions.demo.enable === true){ %>
	      <div class="app-doc app-doc-demo flex-container-row-start">
	        <a href="<%= actions.demo.URL %>" target="_blank"><img src="<%= actions.demo.iconURL %>" width="24" height="24" /><%= actions.demo.text %></a>
	      </div>
			<%
			}
			if(actions.presentation.enable === true){
			%>
	      <div class="app-doc app-doc-ppt flex-container-row-start">
					<a href="<%= actions.presentation.URL %>" target="_blank"><img src="<%= actions.presentation.iconURL %>" width="24" height="24" /><%= actions.presentation.text %></a>
	      </div>
			<%
			}
			if(actions.documentation.enable === true){
			%>
	      <div class="app-doc app-doc-pdf flex-container-row-start">
					<a href="<%= actions.documentation.URL %>" target="_blank"><img src="<%= actions.documentation.iconURL %>" width="24" height="24" /><%= actions.documentation.text %></a>
	      </div>
			<%
			}
			if(actions.images.length >= 1){
				_.each(actions.images, function(o,i,a){
					if(o.enable) {
			%>
			      <div class="app-doc app-doc-pdf flex-container-row-start">
							<a href="<%= actions.images[i].URL %>" target="_blank"><img src="<%= actions.images[i].iconURL %>" width="24" height="24" /><%= actions.images[i].text %></a>
			      </div>
			<%
					}
				});
			}
			if(actions.apple_link.enable === true){
			%>
	      <div class="app-doc flex-container-row-start">
					<a href="<%= actions.apple_link.URL %>" target="_blank"><img src="<%= actions.apple_link.iconURL %>" width="24" height="24" /><%= actions.apple_link.text %></a>
	      </div>
			<%
			}
			if(actions.google_link.enable === true){
			%>
	      <div class="app-doc flex-container-row-start">
					<a href="<%= actions.google_link.URL %>" target="_blank"><img src="<%= actions.google_link.iconURL %>" width="24" height="24" /><%= actions.google_link.text %></a>
	      </div>
			<% } %>
    </script>
    <script type="template/javascript" id="tpl_app-list-item">
      <div class="app-list-item flex-container-row-start" data-arrayindex="<%= arrayindex %>">
        <img class="flex-item-noflex" src="<%= iconURL %>" width="44" height="44" />
				<div class="details flex-container-column-start">
					<span class="app-list-item-name"><%= name %></span>
					<% if(typeof type != "undefined") { %>
						<span class="app-list-item-type"><%= type %></span>
					<% } %>
				</div>
      </div>
    </script>
    <!-- Script Includes -->
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/core.min.js"></script>
  </body>
</html>
